__pycache__/
*.pyc
*.log
env/
.venv/
*.sqlite3
*.db
.DS_Store
.idea/*
.idea
.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Terraform state
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup

# Deployment ZIP
uptime-monitor.zip
infra/uptime-monitor.zip
infra/awscliv2.zip

# Optional: AWS CLI Installationen oder Downloads
infra/aws/